body {
  font-family: "Verdana", "Geneva", "sans-serif";
  background-image:url("https://78.media.tumblr.com/e7053a4e57b18d615379de49673d6b0e/tumblr_inline_ouuuhbvMRB1s2lhps_540.png");
  text-align:center;
  text-decoration: blink;
}
h1 {
    text-align: center;

}



.question {
  font-size: 300%
}
h1 span {
  color: blue;
  font-size: 50px;
  background-color: yellow;
  border-style: solid;
  border-color: red;
}
p span {
  color: yellow;
  background-color: blue;
  border-style: solid;
  border-color: red;
  font-size: 125%;

}
#content {
  border: 2px dashed black;
  margin: 0 auto 0;
  width: 960px;
  padding: 10px;
}

#annoying_ad {
  height: 400px;
  position: absolute;
  width: 400px;
}

.section {
  border: 1px dotted black;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}


.details {
  border-top: 1px dashed grey;
  padding-top: 10px;
}

.highlighted {
  box-shadow: 0px 0px 5px 5px grey;
}
